In [2]:
import pandas as pd

In [3]:
census_data=pd.read_csv("../VIC/2021Census_G02_VIC_POA.csv")
census_data.head()

,POA_CODE_2021,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,POA3000,28,1733,768,370,1857,1.1,1306,1.7
1,POA3002,42,2383,1532,480,3733,0.9,2345,1.8
2,POA3003,31,2106,1058,388,2406,1.1,1788,1.9
3,POA3004,37,2000,1343,451,2727,1.0,2090,1.7
4,POA3006,31,1900,1171,411,2450,1.0,1927,1.8

In [4]:
census_data["POA_CODE_2021"]=census_data["POA_CODE_2021"].str.replace('POA', '')

In [5]:
census_data

,POA_CODE_2021,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,3000,28,1733,768,370,1857,1.1,1306,1.7
1,3002,42,2383,1532,480,3733,0.9,2345,1.8
2,3003,31,2106,1058,388,2406,1.1,1788,1.9
3,3004,37,2000,1343,451,2727,1.0,2090,1.7
4,3006,31,1900,1171,411,2450,1.0,1927,1.8
...,...,...,...,...,...,...,...,...,...
689,3990,56,2134,621,308,1687,0.8,1562,2.5
690,3991,49,1500,550,225,1674,0.7,1262,2.4
691,3992,43,1517,699,280,1601,0.7,1402,2.4
692,3995,50,1300,569,280,1392,0.7,1034,2.2
693,3996,54,1700,706,345,1742,0.7,1291,2.2

In [6]:
census_data.to_csv("census.csv", encoding="utf-8", index=False)