In [ ]:
import pandas as pd

In [6]:
census_G13_data=pd.read_csv("../VIC/2021Census_G13A_VIC_POA.csv")
census_G13_data.head()

,POA_CODE_2021,MSEO_SEO,MSEO_UOLSE_VWorW,MSEO_UOLSE_NWorNAA,MSEO_UOLSE_Tot,MSEO_NS,MSEO_Tot,MOL_Afrikaans_SEO,MOL_Afrikaans_UOLSE_VWorW,MOL_Afrikaans_UOLSE_NWorNAA,...,MOL_Samoan_NS,MOL_Samoan_Tot,MOL_Serbian_SEO,MOL_Serbian_UOLSE_VWorW,MOL_Serbian_UOLSE_NWorNAA,MOL_Serbian_UOLSE_Tot,MOL_Serbian_NS,MOL_Serbian_Tot,MOL_SAL_Filipin_SEO,MOL_SAL_Filipin_UOLSE_VWorW
0,POA3000,7433,..,..,..,..,7433,..,10,0,...,0,5,..,19,0,19,0,19,..,160
1,POA3002,1905,..,..,..,..,1905,..,6,0,...,0,0,..,0,0,0,0,0,..,6
2,POA3003,2026,..,..,..,..,2026,..,0,0,...,0,0,..,0,0,0,0,0,..,20
3,POA3004,3347,..,..,..,..,3347,..,9,0,...,0,0,..,10,0,10,0,10,..,26
4,POA3006,5622,..,..,..,..,5622,..,8,0,...,0,0,..,23,0,24,0,24,..,60

In [7]:
census_G13_data["POA_CODE_2021"]=census_data["POA_CODE_2021"].str.replace('POA', '')

In [8]:
census_G13_data.columns

Index(['POA_CODE_2021', 'MSEO_SEO', 'MSEO_UOLSE_VWorW', 'MSEO_UOLSE_NWorNAA',
       'MSEO_UOLSE_Tot', 'MSEO_NS', 'MSEO_Tot', 'MOL_Afrikaans_SEO',
       'MOL_Afrikaans_UOLSE_VWorW', 'MOL_Afrikaans_UOLSE_NWorNAA',
       ...
       'MOL_Samoan_NS', 'MOL_Samoan_Tot', 'MOL_Serbian_SEO',
       'MOL_Serbian_UOLSE_VWorW', 'MOL_Serbian_UOLSE_NWorNAA',
       'MOL_Serbian_UOLSE_Tot', 'MOL_Serbian_NS', 'MOL_Serbian_Tot',
       'MOL_SAL_Filipin_SEO', 'MOL_SAL_Filipin_UOLSE_VWorW'],
      dtype='object', length=201)

In [ ]:
census_G13_data.to_csv("censusG13.csv", encoding="utf-8", index=False)