In [1]:
# Dependencies 
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sns
import datetime as dt

In [2]:
# reading our dataset
Main_data=pd.read_csv("merged_data.csv")
Main_data.head()

del Main_data["Unnamed: 0"]
del Main_data["Number of Bedroom"]
Main_data.head()

,Suburb,Address,Rooms,Type,Price,Method,Real Estate Agent,Date,Distance,Postcode,...,Regionname,Propertycount,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
1,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
2,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3067,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
3,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,7/05/2016,2.5,3067,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
4,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,8/10/2016,2.5,3067,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9

In [4]:
#check the type of "Date" and change the format to YYYY-mm-dd and the extract YEAR from the Date and save
#into another column name "Year"
Main_data["Date"].dtype

dtype('O')

In [10]:
Main_data['Date'] = pd.to_datetime(Main_data['Date'], format='%Y-%m-%d')

In [11]:
Main_data['Year'] = Main_data['Date'].dt.year

In [12]:
#Check to make sure we see new column "Year" 
Main_data.head()

,Suburb,Address,Rooms,Type,Price,Method,Real Estate Agent,Date,Distance,Postcode,...,Propertycount,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size,Year
0,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,2016-02-04,2.5,3067,...,4019,33,2167,1354,424,3024,1.0,2196,1.9,2016
1,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,2017-03-04,2.5,3067,...,4019,33,2167,1354,424,3024,1.0,2196,1.9,2017
2,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,2016-06-04,2.5,3067,...,4019,33,2167,1354,424,3024,1.0,2196,1.9,2016
3,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,2016-05-07,2.5,3067,...,4019,33,2167,1354,424,3024,1.0,2196,1.9,2016
4,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,2016-10-08,2.5,3067,...,4019,33,2167,1354,424,3024,1.0,2196,1.9,2016

In [ ]:
Main_data["Regionname"].unique()

In [ ]:
# sort the dataset based on price from highest to lowest
high_to_low_price=Main_data.sort_values("Price" , ascending=False)
high_to_low_price.index.name = None
high_to_low_price.head(5)

In [ ]:
#Number of suburbs
Main_data["Suburb"].nunique()

Things to consider:
•	Only consider properties between 800k to 1 million dollars.
•	Only consider free standing homes, i.e., no apartments or townhouses.
•	Compare top 5 suburbs in the northern, eastern, western, and southern regions of Melbourne in terms of:
Sale price
Distance to cbd
Distance to major shopping centres
Distance to public transport
Proximity to schools 
•	Correlation between lifestyle choice and which location people choose to live, i.e., singles and young couple’s vs families
•	Correlation between disposable income and people’s willingness to take on debt.

In [ ]:
#Only consider properties between 800k to 1 million dollars.
mid_price=Main_data.loc[(Main_data["Price"] >= 800000) & (Main_data["Price"] <= 1000000)]
mid_price.head()

In [ ]:
mid_price["Suburb"].nunique()

In [ ]:
#Only consider free standing homes, i.e., no apartments or townhouses.
mid_price_h=mid_price.loc[mid_price["Type"] == "h"]
mid_price_h.head()

In [ ]:
#Compare top 5 suburbs in the northern, eastern, western, and southern regions of Melbourne in terms of Sale price
#Top highest price in Northern


#3 or 4 bedrooms houses in northern Metropolition with median rent weekly more than 700$ and distance
#from CBD less than 15K and Landsize more than 600m2 and carpark more than 2 with Median_age_persons in 30 and 
#house has been built after 2015

northern=mid_price_h.loc[(mid_price_h["Regionname"]== "Northern Metropolitan") & \
                         (mid_price_h["Rooms"]== 3) |(mid_price_h["Rooms"] == 4) &\
                         (mid_price_h["Median_rent_weekly"] >= 700) & (mid_price_h["Distance"] <= 10) & \
                         (mid_price_h["Landsize"] >= 600) & (mid_price_h["number of carpark"] >= 2) &\
                         (mid_price_h["Median_age_persons"]>=30) & (mid_price_h["Median_age_persons"]<=40)&\
                         (mid_price_h["YearBuilt"] >= 2015)]

In [ ]:
northern.shape

In [ ]:
northern.columns

In [ ]:
northern["Suburb"].nunique()

In [ ]:
northern["Real Estate Agent"].nunique()

In [ ]:
northern["Suburb"].unique()

In [ ]:
northern["CouncilArea"].nunique()

In [ ]:
#plotting number of properties by suburb

In [ ]:
size_bins = [800000, 850000, 900000, 950000 , 1000000]
lists = ["(800K_850K)$", "(851K-900K)$", "(901K-950K)$" , "(951K-1M)$)"]

In [ ]:
#plot correlation heatmap for all the variation

plt.figure(figsize = (30,24))
sns.heatmap(Main_data.corr(), cmap = 'YlGnBu', linewidth = 1, annot = True, annot_kws = {'size':12})
plt.title('Variable Correlation')